body, html {
    margin: 0;
    padding: 0;
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    
    font-family: 'Barlow', sans-serif;
  
    transition: background-color 0.5s ease;
  }
  #content{

    padding-top: 50px;
  }
.data-container {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
}

img {
    max-width: 100%;
    height: auto;
}




#options{
  position: fixed;
  top: 0px;
  width: 500px;
  background-color: #333333;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#options button {
  margin-right: 10px; /* Add margin between buttons */
}
#details{
  margin-left: auto;
}





/* from gen styles */
a{
  text-decoration: none;
  color: #fff;
  border-bottom: 2px dashed #fff;
}
.dark-mode{
    background-color: #000000;
    color: #dadada;
  }

  button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }